.App {
  padding: 16px;
  /* background-color: burlywood; */
  /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
}
h1{
  padding: 20px;
  color:rgb(87, 8, 28);
  align-items: center;
}
ul{
  color: rgb(19, 17, 173);
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
